{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<h3>{{ title }}</h3>

<h3>Comments ({{ comments | length }})</h3>
<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endblock %}